@use "../variables/colors";

%square-link {
  &:hover, &:focus {
    text-decoration: none;
    border: 2px solid;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: -12px;
    margin-right: -12px;

    @media (prefers-color-scheme: light) {
      border-color: colors.$light-border;
    }
    @media (prefers-color-scheme: dark) {
      border-color: colors.$dark-border;
    }
  }
}