$light-background-color: #EEE;
$dark-background-color: #1C0540;

$light-text-color: #000;
$dark-text-color: #FFF;

$light-link-color: rgb(188, 39, 224);
$dark-link-color: rgb(206, 117, 232);

$light-border-color: rgb(188, 39, 224);
$dark-border-color: rgb(206, 117, 232);