$light-background: #EEE;
$dark-background: #1C0540;

$light-text-color: #000;
$dark-text-color: #FFF;

$light-link: rgb(188, 39, 224);
$dark-link: rgb(206, 117, 232);

$light-border: rgb(188, 39, 224);
$dark-border: rgb(206, 117, 232);

$light-muted: #909090;
$dark-muted: #B0B0B0;