@use "../variables/devices";

body {
  margin: auto;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr auto;
}

// Mobile-first
body {
  max-width: 90%;
  grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
}

@media (min-width: devices.$tablet) {
  body {
    max-width: 768px - 40;
    grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
  }
}

@media (min-width: devices.$desktop) {
  body {
    max-width: 992px - 40;
    grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
  }
}

@media (min-width: devices.$large-desktop) {
  body {
    max-width: 1200px - 40;
    grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
  }
}

@media (min-width: devices.$extra-large-desktop) {
  body {
    max-width: 1440px - 40;
    grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
  }
}

aside {
  grid-area: aside;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}