@use "colors";

header {
  margin: auto;

  padding-top: 150px;

  @media (min-width: 768px) {
    padding-top: 200px;
  }

  @media (min-width: 992px) {
    padding-top: 250px;
  }

  background-repeat: no-repeat;
  background-position-x: center;

  @media (prefers-color-scheme: light) {
    background-image: url("../images/light/iokode.svg");
  }

  @media (prefers-color-scheme: dark) {
    background-image: url("../images/dark/iokode.svg");
  }

  .main-links {
    text-align: center;
    margin-top: -15px;

    li {
      list-style-type: none;
      display: inline;

      margin-left: 10px;
      margin-right: 10px;
      margin-top: 15px;

      a {
        &:hover, &:focus {
          text-decoration: none;
          border: 2px solid;

          padding-left: 10px;
          padding-right: 10px;
          margin-left: -12px;
          margin-right: -12px;

          @media (prefers-color-scheme: light) {
            border-color: colors.$light-border-color;
          }
          @media (prefers-color-scheme: dark) {
            border-color: colors.$dark-border-color;
          }
        }
      }
    }
  }
}